Repository zeit-ui/vue, pull requests merged in 2019-04, with the labels that each got.

#42 feat(table): add component & docs
  docs/examples/progress/color.vue
  docs/examples/table/basic.vue
  docs/examples/table/delete.vue
  docs/examples/table/width.vue
  docs/zh-cn/components/table.md
  package.json
  packages/index.js
  packages/table/index.js
  packages/table/table-body.js
  packages/table/table-column.js
  packages/table/table-header.js
  packages/table/table-layout.js
  packages/table/table-store.js
  packages/table/table.styl
  packages/table/table.vue
Labels: need review

#45 fix(table): revise hover color
  docs/examples/table/basic.vue
  docs/zh-cn/components/badge.md
  docs/zh-cn/components/files.md
  docs/zh-cn/components/footnote.md
  docs/zh-cn/components/popover.md
  docs/zh-cn/components/select.md
  docs/zh-cn/components/spinner.md
  docs/zh-cn/components/switcher.md
  docs/zh-cn/components/toast.md
  docs/zh-cn/components/toggle.md
  packages/table/table-body.js
  packages/table/table.styl
  packages/table/table.vue
Labels: need review

#46 feat: add doc of attributes
  docs/en-us/components/avatar.md
  docs/en-us/components/badge.md
  docs/en-us/components/button.md
  docs/en-us/components/card.md
  docs/en-us/components/checkbox.md
  docs/en-us/components/code.md
  docs/en-us/components/collapse.md
  docs/en-us/components/dialog.md
  docs/en-us/components/fieldset.md
  docs/en-us/components/files.md
  docs/en-us/components/footnote.md
  docs/en-us/components/input.md
  docs/en-us/components/link.md
  docs/en-us/components/more.md
  docs/en-us/components/note.md
  docs/en-us/components/popover.md
  docs/en-us/components/progress.md
  docs/en-us/components/radio.md
  docs/en-us/components/rate.md
  docs/en-us/components/select.md
  docs/en-us/components/spinner.md
  docs/en-us/components/switcher.md
  docs/en-us/components/table.md
  docs/en-us/components/tag.md
  docs/en-us/components/toast.md
  docs/en-us/components/toggle.md
  docs/en-us/start/about.md
  docs/en-us/start/installation.md
  docs/index.js
  docs/zh-cn/components/avatar.md
  package.json
  src/components/blocks/side.vue
  src/components/examples/code.vue
  src/components/examples/footer.vue
  src/components/index.js
  src/pages/documents/slot.vue
  yarn.lock
Labels: docs, feature, want merge

#47 Note
  docs/en-us/components/badge.md
  docs/en-us/components/button.md
  docs/en-us/components/card.md
  docs/en-us/components/checkbox.md
  docs/en-us/components/code.md
  docs/en-us/components/collapse.md
  docs/en-us/components/dialog.md
  docs/en-us/components/fieldset.md
  docs/en-us/components/radio.md
  docs/examples/dialog/custom.vue
  docs/examples/table/basic.vue
  docs/examples/table/delete.vue
  docs/examples/table/width.vue
  packages/badge/badge.vue
  src/assets/fonts/index.styl
  src/pages/documents/index.vue
Labels: docs

#48 fix(docs): add files footnote input link docs
  docs/en-us/components/files.md
  docs/en-us/components/footnote.md
  docs/en-us/components/input.md
  docs/en-us/components/link.md
  docs/examples/link/basic.vue
Labels: docs
